<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <div class="col-md-3">
      <p class="namehead">FoodBox</p>
   </div>

    <div class="col-md-3 text-end">
      <button *ngIf="!this.isLoggedIn" type="button" class="btn btn-outline-primary me-2" routerLink="/login">Login</button>
      <button *ngIf="this.isLoggedIn" type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button>
      <button *ngIf="!this.isLoggedIn" type="button" class="btn btn-primary" routerLink="/signup">Sign-up</button>
    </div>
  </header>
</div>