<table class="table">
    <thead>
        <tr>
        <h1>View Cuisine Details</h1>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cuisine : </td>
        <td> {{ cusine.cusname }} </td>
      </tr>
      <tr>
        <td>Price : </td>
        <td> {{ cusine.price }} </td>
      </tr>
      <tr>
        <td>Description : </td>
        <td> {{ cusine.description }} </td>
      </tr>
      <tr>
        <td>Category : </td>
        <td> {{ cusine.category }} </td>
      </tr>
      <tr>
        <td>Quantity : </td>
        <td> {{ cusine.quantity }} </td>
      </tr>
    </tbody>
</table>
<form #f=ngForm (ngSubmit)="addToCart(f)">
    Required Quantity : <input type="number" ngModel name="quantity" min=1 max='{{ cusine.quantity }}' />
    <button type="submit" class="text-right" style="margin-left: 20px;" 
       mat-raised-button color="primary">Add to cart</button>
</form>